/target
/classes
/checkouts
/.cpcache
/.lsp
/.clj-kondo/.cache
/.nrepl-port
/.rebel_readline_history
*.jar
*.class
pom.xml
pom.xml.asc
.hgignore
.hg/
.idea
*.iml
.vscode
.DS_Store
/data
/log
*.log
.env
.env.*
!.env.example
node_modules
